@use "../../../../utils/colors" as *;

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.title {
  font-size: 15px;
  font-weight: 500;
  line-height: 20px;
  text-align: center;
  color: $text;
  width: 181px;
  margin-bottom: 63px;
}

.buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
