@use "../../../utils/colors" as *;

.wrapper {
  width: 310px;
  background-color: $chat-list-background;
  border-right: 1px solid $border;
  padding: 20px 0 0;
}

.cards {
  padding: 10px 0;
  box-sizing: border-box;
  height: calc(100vh - 110px);
  overflow: auto;

  &::-webkit-scrollbar {
    width: 0;
  }
}

.topButtonsWrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
