.button {
  font-weight: 500;
  border-radius: 8px;
  min-width: 280px;
  min-height: 37px;
  border: none;
  cursor: pointer;
  padding: 0;

  &:disabled {
    opacity: 0.5;
    cursor: unset;
  }
}

.primary {
  color: #fff;
  background-color: #3369f3;
  font-size: 13px;
  line-height: 13px;
}

.secondary {
  color: #3369f3;
  background-color: #fff;
  font-size: 11px;
  line-height: 11px;
}

.warn {
  color: #f00;
  font-size: 11px;
  line-height: 11px;
  background-color: #fff;
}

.leftAlign {
  text-align: left;
}
