$white: #fff;
$black: #000;
$primary: #3369f3;
$warn: #f00;
$gray: #999;
$text: #1e1e1e;
$chat-list-background: #fbfbfb;
$border: #eaeaea;
$selected-chat: #e4edfd;
$avatar-and-input-background: #efefef;
$received-message: #f8f8f8;
