.wrapper {
  width: 100vw;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.back {
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fbfbfb;
  width: 64px;
  border-right: 1px solid #eaeaea;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.backIcon {
  display: block;
}

.content {
  width: 510px;
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.avatar {
  border-radius: 50%;
  width: 130px;
  height: 130px;
  cursor: pointer;
}

.avatarContainer {
  border-radius: 50%;
  width: 130px;
  height: 130px;
  margin-bottom: 100px;
  cursor: pointer;
  position: relative;

  &:hover {
    &::after {
      position: absolute;
      top: 0;
      left: 0;
      background-color: rgba($color: #000, $alpha: 50%);
      display: flex;
      border-radius: 50%;
      width: 130px;
      height: 130px;
      justify-content: center;
      align-items: center;
      text-align: center;
      padding: 0 33px;
      box-sizing: border-box;
      color: #fff;
      content: "Поменять аватар";
      font-size: 13px;
      font-weight: 500;
      line-height: 14px;
    }
  }
}

%fields {
  position: relative;
  width: 100%;
  margin-bottom: 50px;
}

.fields {
  @extend %fields;
}

.name {
  color: #1e1e1e;
  font-size: 16px;
  font-weight: 600;
  line-height: 16px;
  position: absolute;
  top: -60px;
  left: 50%;
  transform: translateX(-50%);
}

%field {
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 13px;
  font-weight: 500;
  line-height: 13px;
  width: 100%;
  border-bottom: 1px solid #eaeaea;

  &:last-child {
    border-bottom: none;
  }
}

.field {
  @extend %field;
}

.fieldName {
  color: #1e1e1e;
  margin-right: 20px;
}

.fieldValue {
  color: #999;
  text-align: right;
  flex-grow: 1;
  outline: none;
  border: none;
}

.buttons {
  @extend %fields;

  & > * {
    @extend %field;

    display: inline-block;
  }
}
