@use "../../../../utils/colors" as *;

.wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.input {
  flex-grow: 1;
  background: $avatar-and-input-background;
  border-radius: 30px;
  height: 32px;
  box-sizing: border-box;
  padding: 10px 20px 15px;
  border: none;

  &::placeholder {
    color: $gray;
    font-size: 12px;
    font-weight: 500;
    line-height: 12px;
  }
}

.sendButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 28px;
  height: 28px;
  border: none;
  margin-left: 10px;
  cursor: pointer;

  &:disabled {
    cursor: unset;
    opacity: 0.5;
  }
}

.notValid {
  outline: 1px solid $warn;
}
